{% extends 'base.html' %}

{% block content %}
    {% if session['role'] == 'admin' %}
        <h1>Admin Statistics</h1>
        {% if plot_url %}
            <img src="data:image/png;base64,{{ plot_url }}" alt="Statistics Plot">
        {% else %}
            <p>No data available for the plot.</p>
        {% endif %}
    {% else %}
        <h1>Access Denied</h1>
        <p>You do not have permission to access this page</p>
        <a href="{{ url_for('home') }}">Go back to home</a>
    {% endif %}
{% endblock %}
