{% extends 'base.html' %}

{% block content %}

<div class="container-fluid row justify-content-center mt-5 mb-5 pb-5">
  <h1 class="text-center pt-4">Login</h1>
  <div class="col-5 mt-3">
    <form action="{{ url_for('Login') }}" method="post" class="p-4 rounded shadow bg-dark text-light">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control bg-black text-light border-secondary" 
               id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
        <div id="emailHelp" class="form-text text-secondary">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control bg-black text-light border-secondary" 
               id="exampleInputPassword1" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>

{% endblock %}
