<nav class="navbar navbar-expand-lg custom-bg2 rounded-3 navbar-expand-hover">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Urban Ease</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if not session['role'] %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Register
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('registercustomer') }}">As a Customer</a></li>
            <li><a class="dropdown-item" href="{{ url_for('registerserviceprofessional') }}">As a Service Professional</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{{ url_for('Login') }}">Login</a>
        </li>
        {% elif session['role'] == 'admin' %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('adminsummary') }}">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('manageusers') }}">Manage Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('managecategories') }}">Manage Categories</a>
        </li>
        {% elif session['role'] == 'customer' %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('customer_dashboard') }}">Find Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('customer_profile') }}">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('customer_orders') }}">My Orders</a>
        </li>
        {% elif session['role'] == 'service_professional' %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('service_professional_dashboard') }}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('service_professional_profile') }}">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('service_professional_ratings') }}">Ratings & Feedback</a>
        </li>
        {%endif%}
        {% if session['role'] %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% endif %}
      </ul>
      {%if session['role']%}
      <span class="navbar-text fs-5">
        Hello {{session.get('name')}}
      </span>
      {%else%}
      <a class="navbar-text fs-5" href="{{ url_for('Login') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
      </a>
      
      {%endif%}
    </div>
  </div>
</nav>
